$black : black;
$maple : #672f30;
$wood : #8C7D6E;
$bisque: bisque;

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0; 
    height: 100%;
    width: 100%;
        background-image: url(https://cdn.wallpapersafari.com/92/19/jCFbYv.jpg);
    }
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    color: $bisque;
    font-family: 'Water Brush', cursive;
    font-size: 25px;
}
.board{
    width:480px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 10px solid black;

    display: grid;
    grid-template-columns: repeat(8, 1fr);

}
.gg{
    height: 50%;
    width: 50%;
    font-size: 100px;
    font-family: 'VT323', monospace;
    text-align: center;
    color: transparent;
    animation: gg 4s forwards infinite alternate-reverse 10s;
}

.board:hover .gg{
    animation-play-state: paused;
}

@keyframes gg {
    0%{
    transform: translateX(100%);
    }
    25%{     
        transform: translateX(100%);
        color: red;
        background-color: white;
    }
    50%{
        transform: translateY(-600%);
        color: yellow;
        background-color: blue;
    }
    75%{
        transform: translateY(-600%)
        translateX(100%);
        color:red;
        background-color: purple;
    }
    100%{
        transform: translateX(100%);
        color: black;
        background-color: green;
    }
}

.box1:nth-child(even) {
    background-color: $maple;
}
.box1:nth-child(odd){
    background-color: $bisque;
}
.box2:nth-child(even){
    background-color: $bisque;
}
.box2:nth-child(odd){
    background-color: $maple;
}

.box1{display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;}
    .box2{
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    }
    .box11{display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;}

        .box12{
            display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        }
        
        .box11:nth-child(even) {
            background-color: $maple;
            color: $maple ;
        }
        .box11:nth-child(odd){
            background-color: $bisque;
            color: $bisque;
        }
        .box12:nth-child(even){
            background-color: $bisque;
            color: $bisque;
        }
        .box12:nth-child(odd){
            background-color: $maple;
            color: $maple;
        }

        .move1{
            transition: 2s;
        }
        .move2{
            transition: 2s 1s;
        }
        .move3{
            transition: 2s 2.5s;
        }
        .move4{
         transition: 1s 1s;
        }
        .gameover{
            transition: 3s 6s;
           }
        .board:hover .move1{
            transform: translateY(100%);
        }
        .board:hover .move2{
            transform: translateY(-200%);
        }
        .board:hover .move3{
            transform: translateY(200%);
        }
        .board:hover .move4{
            animation: queen 4s 4s;
        }
        .board:hover .gameover{
            transform: rotateX(100%);
            color: $bisque;
        }
        
        @keyframes queen{
            
            33%{
                transform: translateY(-400%) translateX(800%);
            }
            100%{
               transform: translateY(-700%) translateX(200%);
            }
        }
    
    
        
