* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://cdn.wallpapersafari.com/92/19/jCFbYv.jpg);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3%;
  color: bisque;
  font-family: 'Water Brush', cursive;
  font-size: 25px;
}

.board {
  width: 480px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border: 10px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.gg {
  height: 50%;
  width: 50%;
  font-size: 100px;
  font-family: 'VT323', monospace;
  text-align: center;
  color: transparent;
  animation: gg 4s forwards infinite alternate-reverse 10s;
}

.board:hover .gg {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes gg {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  25% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    color: red;
    background-color: white;
  }
  50% {
    -webkit-transform: translateY(-600%);
            transform: translateY(-600%);
    color: yellow;
    background-color: blue;
  }
  75% {
    -webkit-transform: translateY(-600%) translateX(100%);
            transform: translateY(-600%) translateX(100%);
    color: red;
    background-color: purple;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    color: black;
    background-color: green;
  }
}

@keyframes gg {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  25% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    color: red;
    background-color: white;
  }
  50% {
    -webkit-transform: translateY(-600%);
            transform: translateY(-600%);
    color: yellow;
    background-color: blue;
  }
  75% {
    -webkit-transform: translateY(-600%) translateX(100%);
            transform: translateY(-600%) translateX(100%);
    color: red;
    background-color: purple;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    color: black;
    background-color: green;
  }
}

.box1:nth-child(even) {
  background-color: #672f30;
}

.box1:nth-child(odd) {
  background-color: bisque;
}

.box2:nth-child(even) {
  background-color: bisque;
}

.box2:nth-child(odd) {
  background-color: #672f30;
}

.box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}

.box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}

.box11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}

.box12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}

.box11:nth-child(even) {
  background-color: #672f30;
  color: #672f30;
}

.box11:nth-child(odd) {
  background-color: bisque;
  color: bisque;
}

.box12:nth-child(even) {
  background-color: bisque;
  color: bisque;
}

.box12:nth-child(odd) {
  background-color: #672f30;
  color: #672f30;
}

.move1 {
  -webkit-transition: 2s;
  transition: 2s;
}

.move2 {
  -webkit-transition: 2s 1s;
  transition: 2s 1s;
}

.move3 {
  -webkit-transition: 2s 2.5s;
  transition: 2s 2.5s;
}

.move4 {
  -webkit-transition: 1s 1s;
  transition: 1s 1s;
}

.gameover {
  -webkit-transition: 3s 6s;
  transition: 3s 6s;
}

.board:hover .move1 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.board:hover .move2 {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.board:hover .move3 {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.board:hover .move4 {
  -webkit-animation: queen 4s 4s;
          animation: queen 4s 4s;
}

.board:hover .gameover {
  -webkit-transform: rotateX(100%);
          transform: rotateX(100%);
  color: bisque;
}

@-webkit-keyframes queen {
  33% {
    -webkit-transform: translateY(-400%) translateX(800%);
            transform: translateY(-400%) translateX(800%);
  }
  100% {
    -webkit-transform: translateY(-700%) translateX(200%);
            transform: translateY(-700%) translateX(200%);
  }
}

@keyframes queen {
  33% {
    -webkit-transform: translateY(-400%) translateX(800%);
            transform: translateY(-400%) translateX(800%);
  }
  100% {
    -webkit-transform: translateY(-700%) translateX(200%);
            transform: translateY(-700%) translateX(200%);
  }
}
/*# sourceMappingURL=style.css.map */